<footer class="uk-section py-0 full-bleed-section" data-component="site-footer">
  <div class="footer-container w-full">
    <div class="w-full">
      <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center py-0">
        <hr class="mb-12 border-blue-500/20" aria-hidden="true">
        <div class="uk-flex uk-flex-row uk-flex-middle gap-4 mb-6 justify-center" aria-label="Réseaux sociaux">
          <a href="https://www.linkedin.com/in/chilavert-n-dah-ab5779272/" aria-label="LinkedIn">
            <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" loading="lazy" width="32" height="32" alt="Icône LinkedIn" class="h-8 w-8 animate__animated animate__bounce">
          </a>
        </div>
        <div class="footer-marquee-container w-screen" aria-live="polite">
          <div class="footer-marquee-wrapper">
            <p data-translate="© 2025 Chilavert N'dah" class="footer-marquee-text font-bold whitespace-nowrap inline-block animate-marquee">© 2025 Chilavert N'dah</p>
            <p data-translate="© 2025 Chilavert N'dah" class="footer-marquee-text font-bold whitespace-nowrap inline-block animate-marquee">© 2025 Chilavert N'dah</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
